 <section class="about-me" data-section="section1">
   <div class="container">
     <div class="section-heading">
       <h2>Home</h2>
       <div class="line-dec"></div>
       <span>Welcome to your web 3.0 digital asset marketplace aggregator. We provide a one-stop shop for
         digital asset investors to buy and sell the leading cryptocurrencies and non-fungible tokens
         (NFTs). </span>
     </div>
     <div class="left-image-post">
       <div class="row">
         <div class="col-md-6">
           <div class="left-image">
             <img src="/public/images/left-image.jpg" alt="" />
           </div>
         </div>
         <div class="col-md-6">
           <div class="right-text">
             <h4>Non-Fungible Tokens </h4>
             <p>
               NFTs allow individuals to prove ownership of digital assets for the first time. They
               can be anything digital – art, music, gaming items, etc… - and one of the fastest
               growing asset classes in the Web 3.0 ecosystem. Click below to get access to a
               curated selection of some of the top NFTs dominating the digital asset space.
             </p>
             <div class="white-button">
               <a href="/products">Read More</a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="right-image-post">
       <div class="row">
         <div class="col-md-6">
           <div class="left-text">
             <h4>Cryptocurrencies </h4>
             <p>
               Cryptocurrencies are digital currencies secured by the blockchain, solving
               longstanding issues plaguing the virtual currency space. They innovate on current
               monetary systems by providing users with a fast, cheap, and middleman-free
               transaction medium. Each cryptocurrency has its own unique protocols that determine
               how they can be transacted with. Click below to get access to real time prices for
               some of the leading cryptocurrencies.
             </p>
             <div class="white-button">
               <a href="stocks/form">Read More</a>
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <div class="right-image">
             <img src="/public/images/right-image.jpg" alt="" />
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>