

<h2>Cryptocurrency data</h2>

<p>Request latest closing values of the top 3 cryptocurrencies. Bitcoin, Ethereum or Solana</p>

<form action="/stocks/dashboard" method="POST">

    <label>Cryptocurrency Symbol:</label>
    <!-- <input type="text" name="symbol" placeholder="BTC" value="BTC"> -->
    <br>
    <br>
    <br>

    <select name="symbol" name="risk_level">
        <option value="BTC">Bitcoin</option>
        <option value="ETH">Ethereum</option>
        <option value="SOL">Solana</option>
    </select>
    <br>

    <button>Submit</button>
</form>
